.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#td{
  vertical-align: middle;
}
.green{
  color:green;
}
.red{
  color:red;
}
.blue{
  color:blue;
}
.content{


  display:flex;
  flex-direction: column;
  
  justify-content: center;
  text-align: center;
  align-items: center;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-title{

cursor:pointer;


}
body{
  background-color: #f7f7f7;
}

.card{

  box-shadow: 3px 3px 5px 6px #ccc;

}
.card:hover{

background-color:#FFE5B4;

}
.search{
position:absolute;
right: 0%;
padding-top: 20px;

}
.page-link{
  color:white;
  cursor: pointer;

}
.nav{
  position:absolute;
  right:50%;
  

}

.back{

position:absolute;
left: 0%;
width:50px;

}
